.card-question{
    background-color:  #d5d8dc ;
}


.question-form{
    padding: 40px;
    background-color:    #6978bd;
    font-family: "Garamond", serif;
    font-size: 25px;
    text-align: center;
    display: inline-block;
    width: 70%;
    height: 10%;
    color: white;
    font-weight: bolder;

}

.answers{
    font-family: "Garamond", serif;
    font-size: 25px;
    background-color:    #ecf0f1;
    width: 70%;
    height: 10%;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 30px;
    text-align: center;
    display: inline-block;
    
}

.timer-card{
    font-family: "Garamond", serif;
    font-size: 25px;
    position: absolute;
    top: 200px;
    left: 10px;
    padding: 10px;
}

.user1-card{
    font-family: "Garamond", serif;
    font-size: 25px;
    position: absolute;
    top: 20px;
    left: 0px;
    padding: 10px;
}

.user2-card{
    font-family: "Garamond", serif;
    font-size: 25px;
    position: absolute;
    top: 20px;
    right: 0px;
    padding: 10px;
}

